<div class="content">
    <div class="p-grid p-jc-center p-nogutter">
        <div class="home-container p-pt-md-6">
            <div class="card p-m-5">
                <h1>Edwin Rinc&oacute;n</h1>
                <p class="title">Software Developer</p>
                <div class="p-grid p-d-flex">
                    <div class="p-col-12 p-md-6 p-lg-6 p-order-1 p-order-md-2">
                        <div class="myImage">
                            <img class="p-shadow-5" src="../../../assets/images/edwin.jpg" alt="logo">
                        </div>
                        <div class="p-text-center">
                            <p>Madrid, Spain</p>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-6 p-order-2 p-order-md-1">
                        <p-divider class="p-col-12 p-d-md-none"></p-divider>
                        <p>He tomado la decisi&oacute;n de aportar parte de mi experiencia a este website.
                            Mi objetivo principal es desarrollarme profresionalmente y evolucionar en el sector, de modo que 
                        busco oportunidades que me permitan hacerlo. </p>

                    </div>
                </div>
                <div class="p-grid p-jc-around p-jc-md-center">
                    <div class="p-col-1">
                        <div class="box"><a href="https://github.com/EdwinRincon" class="fab fa-github"></a>
                        </div>
                    </div>
                    <div class="p-col-1">
                        <div class="box"><a href="https://www.linkedin.com/in/edwinrincon/"
                                class="fab fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
