<div class="content">
    <div class="p-grid p-jc-center p-nogutter">
        <div class="home-container p-pt-md-6">
            <div class="card p-m-5">
                <h1>Edwin Rinc&oacute;n</h1>
                <p class="title">Software Developer</p>
                <div class="p-grid p-d-flex">
                    <div class="p-col-12 p-md-6 p-lg-6 p-order-1 p-order-md-2">
                        <div class="myImage">
                            <img class="p-shadow-5" src="../../../assets/images/edwin.jpg" alt="logo">
                        </div>
                        <div class="p-text-center">
                            <p>Madrid, Spain</p>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-6 p-order-2 p-order-md-1">
                        <p-divider class="p-col-12 p-d-md-none"></p-divider>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Itaque quo sed quia odio adipisci!
                            Amet, mollitia? Fuga sapiente nam quo modi inventore velit culpa facilis minima aspernatur
                            expedita. Suscipit, aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Blanditiis
                            tempore nobis nisi! Error modi repellat suscipit eius, ducimus, aliquam illum aspernatur
                            inventore tenetur quis saepe dolorem neque vel debitis quisquam!</p>

                    </div>
                </div>
                <div class="p-grid p-jc-around p-jc-md-center">
                    <div class="p-col-1">
                        <div class="box"><a href="https://github.com/EdwinRincon" class="fab fa-github"></a>
                        </div>
                    </div>
                    <div class="p-col-1">
                        <div class="box"><a href="https://www.linkedin.com/in/edwinrincon/"
                                class="fab fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
