.card {
    max-width: 200px;
    height: 280px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.card * {
    transition: 0.3s ease all;
}

.card img {
    margin: 0;
    max-width: 200px;
    height: 224px;
    object-fit: cover;
    display: block;
    object-fit: contain;
}

.card h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
}

.card .focus-content {
    display: block;
    padding: 8px 12px;
}

.card p {
    margin: 0;
    line-height: 1.5;
}

.card:hover img,
.card:focus-within img {
    margin-top: -200px;
}

.card:hover h3,
.card:focus-within h3 {
    padding: 8px 12px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 15px;
}

@media (min-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
